body {
    font-family: sans-serif;
}

.price-label {
    background: gray;
    box-sizing: border-box;
    padding: 10px 10px 30px;
    display: inline-block;
    position: relative;
}

#price-input {
    grid-row: 2/3;
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    font-size: 16px;
    padding: 5px;
    color: #2d2d2d;
}

#price-input:focus {
    border: 5px solid green;
}

#price-input.error {
    border: 3px solid red;
}

#result-wrapper {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 5px 10px;
    font-size: 12px;
}


.current-price {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    margin-right: 5px;
}

.error-price {
    margin-top: 9px;
    color: white;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 15px;
    bottom: 10px;
}