.bg-black {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overhead, .head-title, p {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #fbcf00;
}

.text-wrapper p {
    line-height: 1.7;
    margin-bottom: 100px;
    font-size: 60px;
}

.overhead, .head-title {
    font-size: 80px;
    margin-bottom: 170px;
    text-align: center;
}

.paralax-container {
    height: 100vh;
    overflow: hidden;
    perspective: 1000px;
}

.text-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotateX(60deg) translateY(950px);
    width: 90%;
    animation: text-move 30s infinite linear;
}

@keyframes text-move {
    from {
        transform: rotateX(60deg) translateY(950px);
    }
    to {
        transform: rotateX(65deg) translateY(-3000px);
    }
}