body {
    overflow: hidden;
}

/*.pacman-field-wrapper {*/
/*    position: relative;*/
/*    !*overflow: hidden;*!*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/

.pacman {
    box-sizing: border-box;
    display: inline-block;
    width:  200px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    /*transform: rotate(0);*/
    /*animation: move-pacman 10s linear infinite;*/
    /*transition: left 0.3s ease-in-out, top 0.3s ease-in-out;*/
}

.head-top {
    position: relative;
    width: 200px;
    height: 100px;
    background: yellow;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    transform: rotate(-25deg);
    transform-origin: bottom center;
    animation: open-top 0.5s linear infinite alternate-reverse;
}

.eye {
    position: absolute;
    left: 100px;
    top: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.blick {
    position: relative;
    left: 15px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;


}

.head-bottom {
    width: 200px;
    height: 100px;
    background: yellow;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: rotate(25deg);
    transform-origin: top center;
    animation: open-bottom 0.5s linear infinite alternate-reverse;
}

@keyframes open-top {
    from {
        transform: rotate(-25deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes open-bottom {
    from {
        transform: rotate(25deg);
    }
    to {
        transform: rotate(0);
    }
}

/*@keyframes move-pacman {*/
/*    0%  {transform: translate(0, 0);}*/
/*    25% {transform: translate(400px, 0);}*/
/*    26% {transform: translate(400px, 0)     rotate(90deg);}*/
/*    50% {transform: translate(400px, 400px) rotate(90deg);}*/
/*    51% {transform: translate(400px, 400px) rotate(180deg);}*/
/*    75% {transform: translate(0, 400px)     rotate(180deg);}*/
/*    76% {transform: translate(0, 400px)     rotate(270deg);}*/
/*    100% {transform: translate(0, 0)         rotate(270deg);}*/
/*}*/
