$default-olive: #acd8ad;
$font-mon: 'Montserrat', sans-serif;
$font-lat: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
//font-family: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
//font-family: 'Montserrat', sans-serif;

* * {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}


.container {
  max-width: 320px;
}

.bg--olive {
  background-color: $default-olive;
}

.top-header {
  margin-bottom: 4px;
  &__navigation-bar {
    background-color: #373c3f;
    padding: 9px 0 12px 18px;

    &-title {
      font-family: $font-mon;
      font-weight: 500;
      font-size: 12px;
      color: white;
    }
  }
}

.top-landing {
  background: url("../img/top_header_background.jpg") no-repeat center;
  background-size: cover;
  padding: 13px 20px;
  min-height: 173px;
    font-family: $font-lat;
    font-weight: 700;

  &__title {
    font-size: 16px;
    color: white;
    line-height: 1.4;

    &-text {
      display: block;
    }
  }

  &__link {
    color: #a6d6e0;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.25px;
  }
}

.foods {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__type {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    &.type--pizza &-title {
      background: url("../img/3-pics/pizza_delivery_bg.png") bottom no-repeat;
      background-size: 128%;
      background-position-y: -232px;
      background-position-x: -66px;
    }
    &.type--salads &-title {
      background: url("../img/3-pics/ua_ux_salads_bg.png") bottom no-repeat;
      background-position-y: -164px;
      background-position-x: 0;
      background-size: cover;
    }
    &.type--desserts &-title {
      background: url("../img/3-pics/desserts_bg.png") center no-repeat;
      background-size: cover;
      background-position-y: -27px;
      background-position-x: 0;
    }
    &-title {
      font-family: $font-lat;
      font-weight: 700;
      font-size: 20px;
      color: white;
      line-height: 1;
      display: inline-block;
      padding: 27px 0 28px;
      min-width: calc(100% - 71px);
    }
  }
}

.arrow-btn {
  width: 71px;
  height: 75px;
  position: relative;
  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 7px;
    height: 7px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    top:31px;
    right: 36px;
  }
}